extends ../../layouts/default.pug
include ../../mixins/form-add.pug
include ../../mixins/form-alert.pug
include ../../mixins/not-access.pug


block main 
    - if (role_user.permissions.includes("view_accounts"))
        .main-top
            .form-filter-change-multi-search.d-flex.align-items-center 
                - if (role_user.permissions.includes("create_accounts"))
                    +form-add("Tạo tài khoản mới", "/administrator/accounts/create")
        - if (messages.messageSuccess)
            +form-alert-success(messages.messageSuccess)
        - if (messages.messageError)
            +form-alert-error(messages.messageError)
        .main-table 
            table.table.table-bordered()
                thead 
                    tr
                        th(colspan="10").text-center DANH SÁCH TÀI KHOẢN
                thead
                    tr
                        th(scope='col') STT
                        th(scope='col') Họ và tên
                        th(scope='col') Số điện thoại
                        th(scope='col') Email
                        th(scope='col') Nhóm quyền
                        th(scope='col') Hành động
                tbody
                    - if (accounts.length > 0)
                        each account, index in accounts
                            tr 
                                td #{index + 1}
                                td #{account.fullName}
                                td #{account.phone}
                                td #{account.email}
                                td #{account.roleTitle}
                                td
                                    - if (role_user.permissions.includes("detail_accounts"))
                                        a.btn.btn-success.mgr-10px(href=`/administrator/accounts/detail/${account._id}`)
                                            i.fa-solid.fa-circle-info
                                    - if (role_user.permissions.includes("edit_accounts"))
                                        a.btn.btn-primary.mgr-10px(href=`/administrator/accounts/edit/${account._id}`)
                                            i.fa-regular.fa-pen-to-square
                                    - if (role_user.permissions.includes("delete_accounts"))
                                        button.btn.btn-danger(type="button" data-id=account._id data-name="account" button-delete-single)
                                            i.fa-solid.fa-delete-left
                    - else 
                        tr 
                            td(colspan="6").text-center Không tìm thấy tài khoản nào

        form(action="" method="POST" form-change-status).d-none     
        form(action="" method="POST" form-delete-single).d-none
    - else 
        +not-access()      
        