
extends ../../layouts/default.pug
include ../../mixins/form-alert.pug
include ../../mixins/form-select-tree.pug
include ../../mixins/not-access.pug


block main
  - if (role_user.permissions.includes("edit_product"))
    - if (messages.messageError)
        +form-alert-error(messages.messageError)
    - if (messages.messageSuccess)
        +form-alert-success(messages.messageSuccess)
    #create-product
      form(action=`/administrator/products/edit/${product._id}?_method=PATCH` method="POST" enctype="multipart/form-data")
        .mb-3
          label(for="title" class="form-label") 
            | Tiêu đề sản phẩm 
            span (
              span.star *
            span )  
          input#title.form-control(type="text" name="title" placeholder="Nhập tiêu đề sản phẩm" value=product.title)
        .mb-3
          label(for="title" class="form-label") 
            | Danh mục sản phẩm
          select.custom-select.form-control.mr-2(name="category")
              option(selected="selected" disabled) Chọn danh mục
              if (categories.length > 0) 
                +form-select-tree(categories, 0, product.category)
        .mb-3
          label(for="description" class="form-label") Mô tả sản phẩm
          textarea#description.form-control.textarea-mce(name="description" placeholder="Nhập mô tả sản phẩm" rows="4") #{product.description}
        .row
          .col-md-3.mb-3
            label(for="price" class="form-label") Giá sản phẩm ($)
            input#price.form-control(type="number" name="price" placeholder="Nhập giá sản phẩm" min="0" value=product.price step="0.01")
          .col-md-3.mb-3
            label(for="discountPercentage" class="form-label") Phần trăm giảm giá (%)
            input#discountPercentage.form-control(type="number" name="discountPercentage" placeholder="Nhập tỷ lệ giảm giá" min="0" max="100" value=product.discountPercentage step="0.01")
          .col-md-3.mb-3
            label(for="stock" class="form-label") Số lượng trong kho
            input#stock.form-control(type="number" name="stock" placeholder="Nhập số lượng sản phẩm trong kho" min="0" value=product.stock)
          .col-md-3.mb-3
            label(for="position" class="form-label") Vị trí (Tự động tăng)
            input#position.form-control(type="number" name="position" placeholder="Tự động tăng" value=product.position)
        .mb-3
            label(class="form-label") Trạng thái
              .form-check
                  input#statusActive.form-check-input(type="radio" name="status" value="active" checked=product.status == "active")
                  label.text-success(for="statusActive" class="form-check-label") Hoạt động
              .form-check
                  input#statusInactive.form-check-input(type="radio" name="status" value="inactive" checked=product.status == "inactive")
                  label.text-danger(for="statusInactive" class="form-check-label") Không hoạt động
        .mb-3
          label.mgr-10px(for="thumbnail" class="form-label") Hình ảnh sản phẩm
          input#thumbnail(type="file" name="thumbnail" accept="image/*")
          br
          img#img-preview(src=product.thumbnail, alt=product.title)
        button.btn.btn-primary(type="submit")
          i.fa-regular.fa-pen-to-square
          span.mgl-10px Cập nhật thông tin
  - else
    +not-access()
