
extends ../../layouts/default.pug
include ../../mixins/form-filter.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/form-search.pug
include ../../mixins/form-add.pug
include ../../mixins/form-trash.pug
include ../../mixins/pagination.pug

block main 
    .main-top
        .form-filter-change-multi-search.d-flex.align-items-center
            +form-filter()
            +form-change-multi()
            +form-search()
            +form-add("Thêm sản phẩm")
            +form-trash(countTrash)
    .main-table 
        table.table.table-bordered(checkbox-multi)
            thead
                tr
                    th.check-box
                        label
                            input(type="checkbox" name="check-all")
                    th(scope='col') STT
                    th(scope='col') Tên sản phẩm
                    th(scope='col') Hình ảnh
                    th(scope='col') Giá
                    th(scope='col') Số lượng
                    th(scope='col') Giảm giá (%)
                    th(scope='col') Vị trí
                    th(scope='col') Ngày tạo
                    th(scope='col') Người tạo
                    th(scope='col') Trạng thái
                    th(scope='col') Hành động
            tbody
                each product, index in products
                    tr
                        td.check-box
                            label
                                input(type="checkbox" name="id" value=product._id)
                        td #{index + 1}
                        td.td-title #{product.title}
                        td.td-image
                            img(src=product.thumbnail alt="Hình ảnh sản phẩm" width="100px")
                        td #{product.price}
                        td #{product.stock}
                        td -#{product.discountPercentage}%
                        td #{product.position}
                        td 20/12/2024
                        td Bùi Quang Trưởng
                        td 
                            -if(product.status=="active")
                                button.btn.btn-success(button-change-status data-status=`${product.status}` data-id=`${product._id}`)
                                    i.fa-solid.fa-check
                            -if(product.status=="inactive")
                                button.btn.btn-danger(button-change-status data-status=`${product.status}` data-id=`${product._id}`)
                                    i.fa-solid.fa-xmark

                        td
                            button.btn.btn-success.mgr-10px(type="button")
                                i.fa-solid.fa-circle-info
                            button.btn.btn-primary.mgr-10px(type="button")
                                i.fa-regular.fa-pen-to-square
                            button.btn.btn-danger(type="button" data-id=product._id data-name="product" button-delete-single)
                                i.fa-solid.fa-delete-left
    +pagination(pagination)      
    form(action="" method="POST" form-change-status).d-none     
    form(action="" method="POST" form-delete-single).d-none      
    