extends ../../layouts/default.pug 

block main 
    .container.mt-5
        h1.text-center.mb-4 Danh Sách Sản Phẩm
        .row
            each product in products
                .col-md-4.mb-4
                    .card
                        img.card-img-top(src=product.thumbnail, alt=product.title)
                        .card-body
                            h5.card-title #{product.title}
                            p.card-text Giá: $#{product.price}
                            a.btn.btn-primary(href=`/detail/${product._id}`) Xem chi tiết 
                